.secret {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  text-transform: uppercase;

  .live-indicator {
    font-size: 0.8rem;
    font-weight: 700;
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #f00;
      margin-right: 5px;

    }

    &.live {
      &::before {
        background-color: #0f0;
      }
    }
  }

  .secret-code {
    margin-top: 1rem;
    border: solid 1px #000;
    border-radius: 4px;
    padding: 1rem 3rem;

    span {
      font-weight: 700;
    }
  }
}